.achievementsPage {
  position: relative;

  &__lastLabel {
    margin-bottom: var( --brd-size-gap-s );
    font-family: var( --brd-font-default-alt );
    font-size: 14px;
    color: var( --brd-custom-theme-color );
    text-align: center;
  }

  &__tabsList {
    display: flex;
    gap: var( --brd-size-gap-s );
    margin-bottom: var( --brd-size-gap );
  }

  &__tabItem {
    opacity: .5;
    filter: grayscale( 1 );
    padding-bottom: 8px;
    transition:
            var( --brd-transition-filter ),
            var( --brd-transition-opacity );

    &_selected {
      opacity: 1;
      filter: grayscale( 0 );
    }
  }

  &__block {
    margin-bottom: var( --brd-size-gap );
  }

  &__tabItemIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    aspect-ratio: 1;
    overflow: hidden;
    font-size: 32px;
    border: 1px dashed var( --brd-color-theme );
    border-radius: 100%;
    background-color: color-mix( in srgb, var( --brd-color-theme ), black var( --brd-color-mix-bg ));
  }

  &__tabItemText {
    margin-bottom: var( --brd-size-gap-xs );
    font-family: var( --brd-font-default-alt );
    font-size: 12px;
    color: var( --brd-color-font );
    text-align: center;
  }

  &__achievementsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var( --brd-size-gap-s );
    margin-bottom: var( --brd-size-gap );
  }

  &__achievementsListItem {
    width: 80px;
    opacity: .4;
    filter: grayscale( 1 );

    &_received {
      opacity: 1;
      filter: grayscale( 0 );
    }
  }

  &__streakInfo {
    display: flex;
    align-items: center;
    gap: var( --brd-size-gap-xs );
    margin-bottom: var( --brd-size-gap );
    font-size: 16px;
    color: var( --brd-color-font-accent );
  }

  &__streakInfoDays {
    margin-right: var( --brd-size-gap-xs );
    font-size: 24px;
    font-weight: bold;
    color: var( --brd-custom-theme-color );
  }

  &__streakReset {
    margin-left: auto;
    font-size: 12px;
    color: var( --brd-color-font );
    text-decoration: underline dashed;

  }

  &__lightButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var( --brd-size-input-height-s );
    margin-bottom: var( --brd-size-gap );
    font-family: var( --brd-font-default-alt );
    font-weight: bold;
    color: var( --brd-custom-theme-color );
    text-transform: uppercase;
    border: 1px solid var( --brd-custom-theme-color );
    border-radius: var( --brd-size-border-radius-s );
    background-color: color-mix( in srgb, var( --brd-custom-theme-color ), black var( --brd-color-mix-bg ));
  }

  &__progressBar {
    margin-bottom: var( --brd-size-gap );
    padding: var( --brd-size-gap-s) var( --brd-size-gap);
    border-radius: var( --brd-size-border-radius );
    color: var( --brd-custom-theme-color );
    background-color: color-mix( in srgb, var( --brd-custom-theme-color ), black var( --brd-color-mix-bg ));
  }

  &__progressBarTitleWrapper {
    display: flex;
    align-items: center;
    margin-bottom: var( --brd-size-gap-xs );
  }

  &__progressBarTitle {
    font-size: 14px;
    color: var( --brd-custom-theme-color );
  }

  &__progressBarDays {
    margin-left: auto;
    font-size: 12px;
    color: var( --brd-color-font );
  }

  &__progressBarBar {
    height: 10px;
  }
}
