.achievementsPage {
  position: relative;

  &__lastLabel {
    margin-bottom: var( --brd-size-gap-s );
    font-family: var( --brd-font-default-alt );
    font-size: 14px;
    color: var( --brd-custom-theme-color );
    text-align: center;
  }

  &__tabsList {
    display: flex;
    gap: var( --brd-size-gap-s );
    margin-top: var( --brd-size-gap );
  }

  &__tabItem {
    opacity: .5;
    filter: grayscale( 1 );
    transition:
            var( --brd-transition-filter ),
            var( --brd-transition-opacity );

    &_selected {
      opacity: 1;
      filter: grayscale( 0 );
    }
  }

  &__tabItemIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    aspect-ratio: 1;
    overflow: hidden;
    font-size: 32px;
    border: 1px dashed var( --brd-color-theme );
    border-radius: 100%;
    background-color: color-mix( in srgb, var( --brd-color-theme ), black var( --brd-color-mix-bg ));
  }

  &__tabItemText {
    margin-top: var( --brd-size-gap-xs );
    font-family: var( --brd-font-default-alt );
    font-size: 12px;
    color: var( --brd-color-font );
    text-align: center;
  }

  &__achievementsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var( --brd-size-gap-s );
    margin-top: var( --brd-size-gap );
  }

  &__achievementsListItem {
    width: 80px;
    opacity: .4;
    filter: grayscale( 1 );

    &_received {
      opacity: 1;
      filter: grayscale( 0 );
    }
  }
}
