@use "@/assets/styles/typography";

.widgetPrimaryDate {
  position: relative;
  z-index: var( --brd-z-index-layout );
  border-radius: var( --brd-size-border-radius );

  &__contentWrapper {
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var( --brd-size-gap-s );
    min-height: 160px;
    padding: var( --brd-size-gap ) var( --brd-size-gap ) var( --brd-size-gap ) 150px;
  }

  &__title {
    // Placeholder
  }

  &__comment {
    color: var( --brd-color-font );
  }

  &__date {
    font-family: var( --brd-font-default-alt );
    font-size: 28px;
  }

  &__art {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    left: calc( -1 * var( --brd-size-gap ));
    bottom: 0;
    width: 100%;
    height: calc( 100% + 30px );
    background: url( "../../../assets/img/animals/alpaka_art.png" ) no-repeat 0 100%;
    background-size: 150px auto;
  }
}