.widgetPageTitle {
  min-height: 100px;
  padding: var( --brd-size-gap );
  border-radius: var( --brd-size-border-radius );
  background-size: 130px auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: color-mix( in srgb, var( --brd-custom-theme-color ), black var( --brd-color-mix-bg ));

  &__title {
    margin-top: 0;
    text-shadow: 1px 1px 6px #000;
  }

  &__titleLead {
    padding-right: 130px;
    margin-bottom: var( --brd-size-gap-s );
    font-size: 16px;
    color: var( --brd-custom-theme-color );
    line-height: 1.2;
  }

  &__titleComment {
    padding-right: 130px;
    font-size: 12px;
    color: var( --brd-color-font );
  }
}