.widgetTipInfo {
  position: relative;
  z-index: calc( var( --brd-z-index-layout ) + 10 );
  padding: 20px 50px 20px 60px;
  margin-bottom: 88px;
  font-family: var( --brd-font-default-alt );
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  text-shadow: 1px 1px 6px #000;
  border-color: var( --brd-custom-theme-color );
  border-style: solid;
  border-width: 2px;
  border-radius: var( --brd-size-border-radius );
  background-image:
          url( "../../../assets/img/png/art_4.png" ),
          url( "../../../assets/img/png/icon-lamp.png" );
  background-size:
          auto 90%,
          auto 40px;
  background-position:
          calc( 100% - 10px) 50%,
          10px 20px;
  background-repeat: no-repeat;
  background-color: color-mix( in srgb, var( --brd-custom-theme-color ), black var( --brd-color-mix-bg ));

  &__tail {
    position: absolute;
    top: 100%;
    left: 20px;
    width: 25px;
    color: var( --brd-custom-theme-color );
  }

  &__art {
    position: absolute;
    top: calc( 100% + 22px );
    left: 0;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: auto 100%;
  }
}