@use "@/assets/styles/typography";

.widgetDayNamesList {
  position: relative;
  z-index: var( --brd-z-index-layout );
  min-height: 170px;
  padding: var( --brd-size-gap ) 120px var( --brd-size-gap ) var( --brd-size-gap );
  border-radius: var( --brd-size-border-radius );

  &__contentWrapper {
    position: relative;
    z-index: 200;
  }

  &__title {
    @extend .typography__widgetTitle;
  }

  &__subTitle {
    margin-bottom: var( --brd-size-gap-s );
    font-size: 14px;
    color: var( --brd-color-white-50 );
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var( --brd-size-gap-s );
    margin-bottom: var( --brd-size-gap );

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    color: var( --brd-color-white-80 );
    border-radius: var( --brd-size-border-radius-xs );
    border: 1px solid rgba( var( --brd-color-female_rgb ), .5 );
    background-color: rgba( var( --brd-color-female_rgb ), .15 );
    backdrop-filter: blur( 5px );

    &_male {
      border-color: rgba( var( --brd-color-male_rgb ), .5 );
      background-color: rgba( var( --brd-color-male_rgb ), .15 );
    }
  }

  &__art {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    right: calc( -1 * var( --brd-size-gap ));
    bottom: 0;
    width: 100%;
    height: calc( 100% + 30px );
    background: url( "../../../assets/img/animals/cat-2_art.png" ) no-repeat 100% 100%;
    background-size: 200px auto;
  }
}