@use "@/assets/styles/typography";

.achievementLastFull {
  position: relative;
  padding: var( --brd-size-gap-xl );
  overflow: hidden;
  border-radius: var( --brd-size-border-radius );

  &__bg {
    opacity: .3;
    position: absolute;
    z-index: -1;
    inset: 0;
    border: 1px solid var( --brd-custom-theme-color );
    border-radius: var( --brd-size-border-radius );
    background: radial-gradient(circle at top, var( --brd-custom-theme-color ) 0, transparent 80%);
  }

  &__title {
    @extend .typography__h2;
    margin-bottom: var( --brd-size-gap-s );
    text-align: center;
  }

  &__comment {
    text-align: center;
    color: var( --brd-color-theme );
  }

  &__art {
    display: block;
    width: 180px;
    margin: 0 auto var( --brd-size-gap );
  }

  &__modalArt {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX( -50% );
    width: 200px;
  }

  &__button {
    margin-top: var( --brd-size-gap-xl );
  }
}