.userProfile {
  position: relative;

  &__field {
    margin-bottom: var( --brd-size-gap-s );

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__blockLabel {
    margin-bottom: var( --brd-size-gap-xs );
    font-family: var( --brd-font-default-alt );
    font-size: 12px;
    color: var( --brd-color-font-low );
    text-transform: uppercase;
    letter-spacing: .3px;
  }

  &__blockComment {
    margin-top: calc( -1 * var( --brd-size-gap-xs ));
    font-family: var( --brd-font-default-alt );
    font-size: 11px;
    color: var( --brd-color-font-low );
  }

  &__block {
    margin-bottom: var( --brd-size-gap-l );
  }

  &__toggleRow {
    display: flex;
    justify-content: space-between;
    gap: var( --brd-size-gap );
    margin-bottom: var( --brd-size-gap-s );
  }

  &__toggleRowText {
    margin-bottom: var( --brd-size-gap-s );
    font-size: 14px;
    color: var( --brd-color-font );

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__actionLink {
    color: var( --brd-color-font-accent );
    text-decoration: underline dashed;
    cursor: pointer;
  }

  &__hiddenBlock {
    margin-top: var( --brd-size-gap-s );
  }
}