.contactsBirthdaysPage {
  &__contactsList {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: var( --brd-size-gap-s );
  }

  &__contactItem {
    display: flex;
    align-items: center;
    gap: var( --brd-size-gap-s );
    padding: var( --brd-size-gap-s ) 0;
    border-bottom: 1px solid var( --brd-color-white-10 );
  }

  &__contactPic {
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    aspect-ratio: 1;
    border-radius: 100%;
    font-size: 14px;
    background-color: color-mix( in srgb, currentColor, black var( --brd-color-mix-bg ));
  }

  &__content {
    //Placeholder
  }

  &__contactName {
    font-family: var( --brd-font-default-alt );
    font-size: 14px;
    color: var( --brd-color-font-accent );
  }

  &__userComment {
    font-size: 11px;
    color: var( --brd-color-font-low );
  }

  &__button {
    flex-shrink: 0;
  }
}