.homePage {
  &__titleWidget {
    min-height: 100px;
    padding: var( --brd-size-gap-l );
    border-radius: var( --brd-size-border-radius );
    background-color: var( --brd-color-theme-dark );
    background-image: url( "../assets/img/animals/dog-1_art.png" );
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: right var( --brd-size-border-radius ) bottom;
  }

  &__titleWidget {
    margin-bottom: var( --brd-size-gap );
  }

  &__servicesList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var( --brd-size-gap-s );
    list-style: none;
    padding: 0;
  }

  &__leadBlock {
    padding: 8px;
    border-radius: var( --brd-size-border-radius-s );
    background-color: rgba( #9900ff, .5);
    backdrop-filter: blur( 3px );
  }

  &__memoBlock {
    margin: -8px 0 var( --brd-size-gap );
    padding: 8px 16px;
    border-radius: var( --brd-size-border-radius );
    background-color: #6840ff;
  }


}