.homePage {
  &__titleWidget {
    min-height: 100px;
    padding: var( --brd-size-gap-l );
    border-radius: var( --brd-size-border-radius );
    background-color: var( --brd-color-theme-dark );
    background-image: url( "../assets/img/animals/dog-1_art.webp" );
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: right var( --brd-size-border-radius ) bottom;
  }

  &__block,
  &__titleWidget {
    margin-bottom: var( --brd-size-gap );
  }

  &__servicesList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var( --brd-size-gap-s );
    list-style: none;
    padding: 0;
  }

  &__leadBlock {
    padding: var( --brd-size-gap-s ) var( --brd-size-gap );
    color: var( --brd-color-pink );
    border-radius: var( --brd-size-border-radius );
    background-color: rgba( var( --brd-color-pink_rgb ), .1);
    backdrop-filter: blur( 3px );
  }

  &__mainDate {
    font-size: 40px;
    font-weight: bold;
    color: var( --brd-color-font-accent );
  }

  &__mainDateName {
    margin: 2px 0 var( --brd-size-gap-xs );
    font-family: var( --brd-font-default-alt );
    font-size: 18px;
    font-weight: bold;
  }

  &__mainDateComment {
    font-size: 12px;
    color: var( --brd-color-font-low );
  }

  &__mainLead {
    display: flex;
    gap: var( --brd-size-gap-s );
    margin: calc( -1 * var( --brd-size-gap-s )) 0 var( --brd-size-gap-s );
    line-height: 1.2;

    &_accent {
      font-size: 18px;
      font-weight: bold;
      color: var( --brd-color-font-accent );
    }
  }

  &__silentButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var( --brd-size-input-height-s );
    margin-bottom: var( --brd-size-gap );
    padding: 0 var( --brd-size-gap );
    font-family: var( --brd-font-default-alt );
    font-size: 14px;
    color: var( --brd-color-theme );
    border: 1px dashed var( --brd-color-theme );
    border-radius: var( --brd-size-border-radius );

    &_birthdayToday {
      font-weight: bold;
      color: var( --brd-color-theme-bg );
      background-color: var( --brd-color-theme );
    }

    ion-icon {
      margin-left: auto;
    }
  }

  &__lifeProgress {
    width: 70%;
    margin-top: var( --brd-size-gap );
  }

}