.womensCalendar {
  position: relative;

  &__titleBlock {
    margin-bottom: var( --brd-size-gap-l );
  }

  &__buttons,
  &__block {
    margin-bottom: var( --brd-size-gap );
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: var( --brd-size-gap-s );
  }

  &__modalArt {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX( -50% );
    width: 200px;
  }

  &__dates {
    display: flex;
    gap: var( --brd-size-gap-s );
  }
}
