.widgetCongratContact {
  position: relative;
  padding: var( --brd-size-gap );
  border-radius: var( --brd-size-border-radius );
  background-color: color-mix( in srgb, var( --brd-color-theme ), black var( --brd-color-mix-bg ));

  &__meta {
    display: flex;
    align-items: center;
    gap: var( --brd-size-gap );
  }

  &__content {
    flex-grow: 1;
  }

  &__contactImg {
    flex-shrink: 0;
    width: 90px;
    font-size: 28px;
  }

  &__contactName {
    font-family: var( --brd-font-default-alt );
    font-size: 18px;
    color: var( --brd-color-font-accent );
    line-height: 1.2;
  }

  &__userComment {
    margin-bottom: var( --brd-size-gap-s );
    font-size: 12px;
    color: var( --brd-color-font-low );
  }

  &__title {
    font-family: var( --brd-font-default-alt );
    font-size: 12px;
    color: var( --brd-contacts-birthdays-theme-color );
  }

  &__buttons {
    display: flex;
    gap: var( --brd-size-gap-s );
    justify-content: flex-end;
  }

  &__button {
    flex-shrink: 0;
    display: block;
    padding: 5px var( --brd-size-gap );
    font-size: 12px;
    color: var( --brd-color-theme-bg );
    border: 1px solid var( --brd-contacts-birthdays-theme-color );
    background-color: var( --brd-contacts-birthdays-theme-color );
    border-radius: var( --brd-size-border-radius-xs );

    &_light {
      padding: 5px var( --brd-size-gap-s );
      color: var( --brd-contacts-birthdays-theme-color );
      background-color: transparent;
    }
  }
}