.achievementLast {
  position: relative;
  display: flex;
  align-items: center;
  gap: var( --brd-size-gap );
  padding: var( --brd-size-gap );
  border-radius: var( --brd-size-border-radius );
  background-color: var( --brd-color-theme-dark );

  &__icon {
    width: 70px;
  }

  &__contentWrapper {
  }

  &__label {
    font-size: 10px;
    text-transform: uppercase;
    color: var( --brd-achievement-theme-color );
    letter-spacing: .3px;
  }

  &__title {
    font-family: var( --brd-font-default-alt );
    font-size: 18px;
    font-weight: bold;
    color: var( --brd-color-font-accent );
  }

  &__comment {

  }

  &__rarity {
    display: inline-block;
    padding: 2px 4px;
    border-radius: var( --brd-size-border-radius-xs );
    background-color: var( --brd-color-white-5 );

    &_common {
      // background-image: url( "" );
    }

    &_rare {

    }

    &_epic {
      // background-image: url( "" );
    }

    &_legendary {
      // background-image: url( "" );
    }

    &_mythic {
      // background-image: url( "" );
    }
  }

  &__counter {

  }

  &__linkButton {
    margin-left: auto;
    font-size: 20px;
    color: var( --brd-achievement-theme-color );
  }

  &__link {
    position: absolute;
    inset: 0;
  }
}