.cardPage {
  position: relative;

  &__block {
    margin-bottom: var( --brd-size-gap );
  }

  &__buttons {
    display: flex;
    gap: var( --brd-size-gap-s );
  }

  &__button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: var( --brd-size-input-height );
    padding: 4px var( --brd-size-gap );
    font-family: var( --brd-font-default-alt );
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var( --brd-custom-theme-color );
    border: 1px solid var( --brd-custom-theme-color );
    border-radius: var( --brd-size-border-radius );
    background-color: color-mix( in srgb, var( --brd-custom-theme-color ), black var( --brd-color-mix-bg ));
  }
}
