.dayConception {
  position: relative;

  &__daysList {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__dayItem {
    margin-bottom: var( --brd-size-gap-s );
  }

  &__block {
    margin-bottom: var( --brd-size-gap );
  }

  &__artTitle {
    margin: var( --brd-size-gap-xl ) 0;
  }

  &__titleBlock {
    margin-bottom: var( --brd-size-gap-l );
  }

  &__dateButton {
    margin-bottom: var( --brd-size-gap );
  }

  &__subTitle {
    margin-bottom: var( --brd-size-gap-xxs );
    font-family: var( --brd-font-default-alt );
    font-size: 14px;
  }
}
