.appHeader {
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    display: inline-block;
    width: 50px;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: var( --brd-size-gap );
    padding: var( --brd-size-gap-xs );
    font-family: var( --brd-font-default-alt );
    font-size: 18px;
  }

  &__titleImg {
    height: 20px;
    transform: translateY(4px);
  }

  &__accent {
    color: var( --brd-color-theme );
  }

  &__avatar {
    width: 50px;
    margin-right: var( --brd-size-gap-s );
  }

  &__leftPlaceholder {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    aspect-ratio: 1;
    padding: 0 10px;
  }
}