@use "@/assets/styles/typography";

.widgetFamousPolitics {
  position: relative;
  z-index: var( --brd-z-index-layout );
  min-height: 125px;
  padding: var( --brd-size-gap ) 120px var( --brd-size-gap ) var( --brd-size-gap );
  border-radius: var( --brd-size-border-radius );
  background-color: color-mix( in srgb, var( --brd-custom-theme-color ), black var( --brd-color-mix-bg ));

  &__contentWrapper {
    position: relative;
    z-index: 200;
  }

  &__title {
    @extend .typography__widgetTitle;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var( --brd-size-gap-xs );
  }

  &__empty,
  &__item {
    display: flex;
    flex-direction: column;
    gap: var( --brd-size-gap-s );
    padding: 6px 10px;
    color: var( --brd-color-font );
    border-radius: var( --brd-size-border-radius-s );
    background-color: rgba( 255, 255, 255, .07 );
    backdrop-filter: blur( 5px );
  }

  &__date {
    font-size: 11px;
    padding-top: 2px;
  }

  &__name {
    font-size: 14px;
    color: var( --brd-color-font-accent );
  }

  &__comment {
    font-size: 11px;
  }

  &__empty {
    display: inline-flex;
    font-size: 13px;
    color: var( --brd-color-font );
  }

  &__art {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    right: calc( -1 * var( --brd-size-gap ));
    bottom: 0;
    width: 100%;
    height: calc( 100% + 30px );
    background: url( "../../../assets/img/animals/capibara_politics.webp" ) no-repeat 100% 100%;
    background-size: 150px auto;
  }
}
