.achievementRarityLabel {
  $root: &;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var( --brd-size-gap-s );
  padding: 8px var( --brd-size-gap ) 7px;
  border-radius: var( --brd-size-border-radius-xs );
  font-family: var( --brd-font-default-alt );
  font-size: 16px;
  color: var( --brd-achievement-rarity-color );
  text-transform: uppercase;
  letter-spacing: 2px;

  &_compact {
    padding: 2px 6px;
    font-size: 12px;
    letter-spacing: 0;
    background-color: var( --brd-color-white-5 ) !important;
  }

  &__icon {
    display: inline-block;
    width: 20px;

    #{$root}_compact & {
      width: 10px;
    }
  }
}