.lifeProgress {
  $root: &;
  position: relative;

  &__titleBlock {
    margin-bottom: var( --brd-size-gap-l );
  }

  &__block {
    margin-bottom: var( --brd-size-gap );
  }

  &__dateButton {
    margin-bottom: var( --brd-size-gap );
  }

  &__modalArt {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX( -50% );
    width: 200px;
  }

  &__weeksGrid {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var( --brd-size-gap-s );
    margin-bottom: var( --brd-size-gap-xs );
    contain: layout;
  }

  &__decade {
    display: flex;
    align-items: center;
    gap: var( --brd-size-gap-s );
  }

  &__decadeLabel {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 12px;
    text-align: right;
    font-size: 12px;
    color: var( --brd-color-font );
  }

  &__decadeCells {
    flex: 1;
    display: grid;
    grid-template-columns: repeat( 52, 1fr );
    gap: 2px;
  }

  &__weekComment {
    margin-bottom: var( --brd-size-gap-xs );
    font-size: 12px;
    color: var( --brd-color-font-low );
  }

  &__weekLegendItem {
    @extend #{$root}__week;
    display: inline-block;
    width: 10px;
    margin: -1px 2px 0 0;
    vertical-align: middle;

    &_past {
      @extend #{$root}__week_past;
    }

    &_achievement {
      @extend #{$root}__week_achievement;
    }

    &_current {
      @extend #{$root}__week_current;
      transform: scale( 1 ) !important;
    }
  }

  &__week {
    position: relative;
    aspect-ratio: 1;
    background: var( --brd-color-white-10 );

    &_past {
      background: rgba(176, 247, 157, .32);
    }

    &_current {
      background: var( --brd-custom-theme-color );
      opacity: 1;
      box-shadow: 0 0 6px var( --brd-custom-theme-color );
      transform: scale( 1.6 );
    }

    &_achievement {
      background: var( --brd-color-warning );
    }

    &_hovered {
      transform: scale( 2 );
    }
  }
}