.dog-1 {
    background-image: url( "../../assets/img/animals/dog-1.png" );
}

.dog-1_art {
    background-image: url( "../../assets/img/animals/dog-1_art.png" );
}

.dog-2 {
    background-image: url( "../../assets/img/animals/dog-2.png" );
}

.dog-2_art {
    background-image: url( "../../assets/img/animals/dog-2_art.png" );
}

.dog-3_art {
    background-image: url( "../../assets/img/animals/dog-3_art.png" );
}

.cat-1 {
    background-image: url( "../../assets/img/animals/cat-1.png" );
}

.cat-1_art {
    background-image: url( "../../assets/img/animals/cat-1_art.png" );
}

.cat-4 {
    background-image: url( "../../assets/img/animals/cat-4.png" );
}

.alpaka {
    background-image: url( "../../assets/img/animals/alpaka_art.png" );
}