.dog-1 {
    background-image: url( "../../assets/img/animals/dog-1.webp" );
}

.dog-1_art {
    background-image: url( "../../assets/img/animals/dog-1_art.webp" );
    background-size: 160px auto;
}

.dog-2 {
    background-image: url( "../../assets/img/animals/dog-2.webp" );
}

.dog-2_art {
    background-image: url( "../../assets/img/animals/dog-2_art.webp" );
}

.dog-3_art {
    background-image: url( "../../assets/img/animals/dog-3_art.webp" );
}

.dog-4 {
    background-image: url( "../../assets/img/animals/dog-4.webp" );
}



.cat-1 {
    background-image: url( "../../assets/img/animals/cat-1.webp" );
}

.cat-1_art {
    background-image: url( "../../assets/img/animals/cat-1_art.webp" );
}

.cat-4 {
    background-image: url( "../../assets/img/animals/cat-4.webp" );
}

.cat-5 {
    background-image: url( "../../assets/img/animals/cat-5.webp" );
}

.cat-6_art {
    background-image: url( "../../assets/img/animals/cat-6_art.webp" );
}

.alpaka {
    background-image: url( "../../assets/img/animals/alpaka_art.webp" );
}

.penguin {
    background-image: url( "../../assets/img/animals/penguin.webp" );
}

.penguin_art {
    background-image: url( "../../assets/img/animals/penguin_art.webp" );
}

.otter_art {
    background-image: url( "../../assets/img/animals/otter_art.webp" );
}

.panda_art {
    background-image: url( "../../assets/img/animals/panda_art.webp" );
}

.goose_art {
    background-image: url( "../../assets/img/animals/goose_art.webp" );
}

.lama_art {
    background-image: url( "../../assets/img/animals/lama_art.webp" );
}