.brd-fade-enter-active,
.brd-fade-leave-active {
    transition:
            opacity ease var( --brd-transition-duration );
}

.brd-fade-enter-from,
.brd-fade-leave-to {
    opacity: 0;
}

.brd-fade-scale-enter-active,
.brd-fade-scale-leave-active {
    transition:
            opacity ease var( --brd-transition-duration ),
            scale ease var( --brd-transition-duration );
}

.brd-fade-scale-enter-from,
.brd-fade-scale-leave-to {
    opacity: 0;
    scale: 1.1;
}

.brd-collapse-leave-active {
    overflow: hidden;
    transition:
            height ease var( --brd-transition-duration ),
            opacity ease var( --brd-transition-duration ),
            margin ease var( --brd-transition-duration ),
            padding ease var( --brd-transition-duration );
}

.brd-collapse-leave-to {
    height: 0 !important;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
