.typography {
  &__widgetTitle {
    margin-bottom: var( --brd-size-gap );
    font-size: 18px;
    font-family: var( --brd-font-default-alt );
    text-shadow: 1px 1px 6px #000;
  }

  &__h1 {
    font-family: var( --brd-font-default-alt );
    font-size: 28px;
    font-weight: bold;
    color: var( --brd-color-font-accent );
  }

  &__h2 {
    font-family: var( --brd-font-default-alt );
    font-size: 24px;
    font-weight: bold;
    color: var( --brd-color-font-accent );
  }

  &__h3 {
    font-family: var( --brd-font-default-alt );
    font-size: 20px;
    font-weight: bold;
    color: var( --brd-color-font-accent );
  }

  &__h4 {
    font-family: var( --brd-font-default-alt );
    font-size: 14px;
    color: var( --brd-color-font-accent );
  }
}