:root {
  --brd-size-gap-base: 8px;
  --brd-size-gap-mobile: 8px;
  --brd-size-gap-xxs: calc( var( --brd-size-gap-base ) / 4 ); // 2px
  --brd-size-gap-xs: calc( var( --brd-size-gap-base ) / 2 ); // 4px
  --brd-size-gap-s: var( --brd-size-gap-base ); // 8px
  --brd-size-gap: calc( var( --brd-size-gap-base ) * 2 ); // 16px
  --brd-size-gap-l: calc( var( --brd-size-gap-base ) * 3 ); // 24px
  --brd-size-gap-xl: calc( var( --brd-size-gap-base ) * 4 ); // 32px
  --brd-size-side-indent: var( --brd-size-gap ); // 16px

  --brd-size-widget-min-height: 200px;
  --brd-size-input-height: 56px;
  --brd-size-input-height-s: 48px;

  --brd-size-border-radius-base: 8px;
  --brd-size-border-radius-xs: calc( var( --brd-size-border-radius-base ) / 2 ); // 4px
  --brd-size-border-radius-s: var( --brd-size-border-radius-base ); // 8px
  --brd-size-border-radius: calc( var( --brd-size-border-radius-base ) * 2 ); // 16px

  --brd-size-picker-min-width: 350px;
  --brd-scroll-margin-top: 130px;

  --brd-z-index-layout: 100;
  --brd-z-index-tooltip: 200;
  --brd-z-index-dropdown: 300;
  --brd-z-index-header: 350;
  --brd-z-index-overlay: 400;
  --brd-z-index-popup: 500;
  --brd-z-index-modal: 1000;

  --brd-color-mix-bg: 79%; // На сколько затемнять подложки карточек, от основного цвета

  // Transitions
  --brd-transition-duration: .3s;
  --brd-transition-all: all ease var( --brd-transition-duration );
  --brd-transition-height: height ease var( --brd-transition-duration );
  --brd-transition-border: border ease var( --brd-transition-duration );
  --brd-transition-opacity: opacity ease var( --brd-transition-duration );
  --brd-transition-filter: filter ease var( --brd-transition-duration );
  --brd-transition-color: color ease var( --brd-transition-duration );
  --brd-transition-transform: transform ease var( --brd-transition-duration );

  // Defaults
  --brd-font-default: 'Roboto Condensed', sans-serif;
  --brd-font-default-alt: 'Roboto', sans-serif;
  --brd-font-default-alt2: 'Skyquake', sans-serif;
  --brd-color-font: #aeaebb;
  --brd-color-font-low: #898989;
  --brd-color-font-accent: #fff;
  --brd-color-theme: #a876ec;
  --brd-color-theme_rgb: 168, 118, 236;
  --brd-color-theme-dark: #201a34;
  --brd-color-theme-dark_rgb: 32, 26, 52;
  --brd-color-theme-bg: var( --brd-color-theme-dark );
  --brd-color-bg: #0c0f17;
  --brd-color-bg_rgb: 12, 15, 23;
  --brd-color-bg-modal: #151515;
  --brd-color-bg-modal_rgb: 21, 21, 21;
  --brd-color-bg-picker-modal: var( --brd-color-bg );
  --brd-color-info: #1b72d7;
  --brd-color-success: #b0f79d;
  --brd-color-warning: #f2b348;
  --brd-color-error: #f76e69;
  --brd-color-pink: #ff8bef;
  --brd-color-pink_rgb: 255, 139, 239;

  --brd-custom-theme-color: var( --brd-color-theme );

  --brd-color-female_rgb: 168, 118, 236;
  --brd-color-male: #40629e;
  --brd-color-male_rgb: 64, 98, 158;

  --brd-color-white: #fff;
  --brd-color-white-80: rgba( 255, 255, 255, .8 );
  --brd-color-white-50: rgba( 255, 255, 255, .5 );
  --brd-color-white-20: rgba( 255, 255, 255, .2 );
  --brd-color-white-10: rgba( 255, 255, 255, .1 );
  --brd-color-white-5: rgba( 255, 255, 255, .05 );
}
