@use "@/assets/styles/typography";

.achievementFull {
  position: relative;
  z-index: var( --brd-z-index-layout );
  border-radius: var( --brd-size-border-radius );
  background-color: var( --brd-color-bg );

  &__bg {
    opacity: .3;
    position: absolute;
    z-index: 100;
    inset: 0;
    border: 1px solid var( --brd-achievement-rarity-color );
    border-radius: var( --brd-size-border-radius );
    background: radial-gradient(circle at top, var( --brd-achievement-rarity-color ) 0, transparent 80%);
  }

  &__contentWrapper {
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var( --brd-size-gap ) var( --brd-size-gap-xl ) var( --brd-size-gap-l );
  }

  &__image {
    width: 150px;
    height: 150px;
    margin-top: var( --brd-size-gap );
  }

  &__title {
    @extend .typography__h1;
    margin-top: var( --brd-size-gap-s );
    color: var( --brd-custom-theme-color );
    text-align: center;
  }

  &__ageText {
    margin-top: var( --brd-size-gap-xs );
    font-size: 12px;
    color: var( --brd-color-font );
  }

  &__comment {
    margin-top: var( --brd-size-gap-s );
    text-align: center;
    color: var( --brd-color-font-accent );
  }

  &__subComment {
    margin-top: var( --brd-size-gap );
    font-size: 12px;
    color: var( --brd-color-font );
  }

  &__shareWrapper,
  &__block {
    margin-top: var( --brd-size-gap );
  }

  &__shareWrapper {
    display: flex;
    align-items: center;
    gap: var( --brd-size-gap-s );
  }

  &__notReceived {
    display: inline-flex;
    align-items: center;
    gap: var( --brd-size-gap-xs );
    margin-top: var( --brd-size-gap );
    padding: 3px var( --brd-size-gap-s ) 2px;
    font-family: var( --brd-font-default-alt );
    font-size: 12px;
    color: var( --brd-color-font );
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: var( --brd-size-border-radius-xs );
    background-color: var( --brd-color-white-5 );
  }

  &__share,
  &__rarityLabel {
    height: 40px;
  }

  &__share {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    font-size: 26px;
    color: var( --brd-achievement-rarity-color );
    border-radius: var( --brd-size-border-radius-xs );
    background-color: color-mix( in srgb, var( --brd-achievement-rarity-color ), black var( --brd-color-mix-bg ));
  }
}